body {
  font-family: sans-serif;
  text-align: justify;
  background-color: rgba(199, 1, 14, 1);
  color: #FFF;
  margin: 0 20%;
}

#title {
  font-size: 3em;
  text-shadow: 3px 5px 10px #000;
  text-align: center;
}

#image {
  display: block;
  margin: 0 10% 5%;
  width: 80%;
}

#img-caption {
  font-size: 15px;
  line-height: 150%;
}

h2 {
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 5px #000;
}

#tribute-info {
  background-color: rgba(0,0,0,0.2);
  padding: 10px 30px 15px;
  line-height: 150%;
  margin: 20px;
  box-shadow: 5px 10px 30px #000;
}

small:last-child {
  padding: 10px;
}

#tribute-link {
  text-decoration: none;
  color: greenyellow;
}